[Desktop Entry]
Name=Kenku FM
Comment=Kenku FM is a desktop application for Windows, MacOS and Linux designed to be the easiest way to share music in a Discord voice call.
GenericName=Audio Streaming Tool.
Exec=kenku-fm
Icon=${SNAP}/meta/gui/kenku-fm.png
Type=Application
Categories=Audio;Discord;Bot
Keywords=kenku;fm;audio;discord;tabletop;ttrpg